@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

@font-face {
  font-family: "kanit-bold";
  src: url("../fonts/kanit-bold.woff"), url("../fonts/kanit-bold.woff2");
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/kanit-semibold.woff"), url("../fonts/kanit-semibold.woff2");
}
:root {
  --opacity: 0.5;
  --transition: 0.2s;
}
.container {
  background-color: black;
  height: 100vh;
  overflow: hidden; 
  transition: var(--trans);
}
.animate__animated {
  --animate-duration: 2s;
}
/* Start navbar */

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 0;
  padding: 10px 40px;
}
nav > ul {
  display: flex;
  align-items: center;
  padding: 0;
}
nav > ul a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-right: 25px;
  text-transform: uppercase;
  font-family: "kanit-semibold", sans-serif;
  transition: var(--transition);
}
nav > ul a:hover {
  opacity: var(--opacity);
}
nav .logo {
  text-align: center;
  margin-right: 200px;
}
nav .logo span:first-child {
  display: block;
  font-size: 2.5em;
  line-height: 0.7;
}
nav .icons > i {
  margin-left: 20px;
  font-size: 1.2em;
  transition: var(--transition);
  cursor: pointer;
}
nav .icons > i:hover {
  opacity: var(--opacity);
}
nav .menu {
  display: none;
}

@media (max-width: 992px) {
  nav {
    padding: 15px;
    margin-bottom: 30px;
  }
  nav .menu {
    display: block;
  }
  nav .menu > i {
    font-size: 2em;
  }
  nav > ul {
    display: none;
  }
  nav .icons {
    width: 100%;
    text-align: center;
  }
  nav .logo {
    margin-right: 0;
}
}
/* End navbar */

/* Start special heading  */
.special-heading {
  color: white;
  text-align: center;
  margin: 0px 0;
}
.special-heading h2:first-of-type {
  font-family: "kanit-bold";
  font-size: 6em;
  text-transform: uppercase;
  transform: scale(1, 0.6);
}
.special-heading h2:last-of-type {
  font-family: "Tilt Prism", cursive;
  line-height: 0;
  font-size: 6em;
  text-transform: uppercase;
  transform: scale(1, 0.6);
  opacity: 0.9;
}
@media (max-width: 992px) {
  .special-heading h2:first-of-type,.special-heading h2:last-of-type {
    font-size: 4.5em;
  }
}
/* mobile screen  */
@media (max-width: 576px) {
  .special-heading h2:first-of-type,.special-heading h2:last-of-type {
    font-size: 2.2em;
    transform: scale(1, .8);
    line-height: normal;
  }
  .container {
    overflow: auto;
  }
}
/* End special heading  */
/* Start section  */
.images-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  height: 844px;
}
.images-container > img {
  /* transform: scale(.8, .8); */
  max-height: 65%;
  width: 33%;
  /* object-fit: contain; */
}

.carousel-item > img {
  border-radius: 6px;
  height: 600px;
  /* object-fit:fill; */
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0 !important;
}
/* End section  */
